@media (max-width: 1110px) {
  .footer__nav {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .accessories__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .box__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .features__tabs {
    display: block;
  }

  .features__btn-item {
    margin-bottom: 20px;
  }

  .games__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 50px;
    padding-top: 150px;
  }
}

@media (max-width: 830px) {
  .footer__menu {
    padding-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer {
    padding: 0;
  }

  .footer__nav {
    grid-template-columns: 1fr;
    row-gap: 34px;
    justify-items: center;
  }

  .footer__social {
    justify-self: center;
  }

  .contacts__wrapper {
    flex-wrap: wrap;
  }

  .contacts__text {
    margin-bottom: 24px;
  }

  .features {
    padding: 50px 0;
    padding-bottom: 370px;
  }

  .features__titles {
    display: block;
  }

  .features__title,
  .features__text {
    margin-bottom: 12px;
  }

  .features__content-item {
    display: block;
  }

  .nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    background-color: #fff;
    transform: translateY(-500px);
    pointer-events: none;
    visibility: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    transition: all 1s ease;
    opacity: 0;
  }

  .nav_active nav {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .logo {
    order: -1;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .basket {
    justify-self: center;
  }

  .nav_active .basket_on span:nth-child(2) {
    display: flex;
  }

  .burger span:last-child {
    margin-bottom: 0;
  }

  .burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5c5c5e;
    transition: all 0.8s ease;
    margin-bottom: 4px;
  }

  .nav_active span:nth-child(1) {
    transform: rotate(45deg);
    margin-bottom: -2px;
  }

  .nav_active span:nth-child(2) {
    display: none;
  }

  .nav_active span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .features__content-box p {
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 76px;
  }

  .subtitle {
    font-size: 26px;
  }

  .buy__bg {
    font-size: 300px;
  }
}

@media (max-width: 622px) {
  .accessories__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .accessories-item {
    width: 75%;
    align-items: center;
    margin: 0 auto;
  }

  .box-item-title {
    font-size: 32px;
  }

  .box__item {
    order: -1;
  }

  .box__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .games__wrapper {
    padding-top: 100px;
  }

  .games__desc-title {
    font-size: 32px;
  }

  .games__link {
    margin-bottom: 12px;
    text-align: center;
    width: 100%;
  }

  .games__wrapper {
    grid-template-columns: 1fr;
  }

  .section-top {
    text-align: center;
  }

  .buy-btn {
    flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 478px) {
  .contacts__text {
    line-height: 140%;
  }

  .accessories-item {
    width: 100%;
  }

  .box {
    padding-bottom: 20px;
  }

  .box__item img {
    width: 100%;
  }

  .box__item-text {
    margin: 20px 10px;
  }

  .box__wrapper {
    display: block;
  }

  .games__wrapper {
    padding-top: 50px;
  }

  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  .features__text {
    font-size: 32px;
  }

  .features__video {
    width: auto;
  }

  .games__wrapper {
    padding-top: 20px;
  }

  .features {
    padding-bottom: 425px;
  }
}
