@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica-Bold", sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 112.5%; /* 18/16 */
  color: #5c5c5e;
}

button {
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  line-height: 113%;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

/*     Header    */

.header {
  border-bottom: 1px solid #cacad6;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 80px;
}

.menu {
  display: flex;
  gap: 0 20px;
}

.basket {
  position: relative;
  justify-self: flex-end;
}

.logo {
  justify-self: center;
}

.basket_on span {
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #000;
  border-radius: 50%;
  bottom: 0;
  right: -2px;
}

/*     Main    */

.section-top {
  min-height: calc(100vh - 81px);
  background-image: url(../images/main-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.title:not(:last-child) {
  margin-bottom: 10px;
}

.title {
  padding-top: 16%;
  font-size: 96px;
  line-height: 115%;
  font-weight: 400;
}

.subtitle:not(:last-child) {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 36px;
  line-height: 114%;
}

.text,
.buy-text {
  font-size: 13px;
  line-height: 115%;
}

.text {
  margin-bottom: 50px;
}

.buy-text {
  margin-top: 10px;
}

.buy-btn {
  cursor: pointer;
  border: 0;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  text-transform: uppercase;
  padding: 0;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  padding: 1px;
}

.buy-btn__text {
  color: #f6f4f5;
  padding: 20px 110px;
}

.buy-btn__price {
  background-color: #f6f4f5;
  padding: 20px 105px;
  color: #5c5c5e;
}

.buy-text {
  padding-bottom: 28%; /* 454px/16 */
}

/*   Features   */

.features {
  padding: 100px 0;
}

.features__tabs {
  position: relative;
  display: grid;
  grid-template-columns: 300px auto;
  min-height: 300px;
}

.features__titles {
  display: flex;
  gap: 132px;
}

.features__title {
  margin-bottom: 84px;
}

.section-title {
  line-height: 113%;
  font-weight: 400; /* 18/16px   Reusable title*/
}

.features__text,
.games__desc-title {
  max-width: 330px;
  font-size: 36px;
  line-height: 114%; /* 41px/36 */
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2px;
}

.features__btn-item:not(:last-child) {
  margin-bottom: 20px;
}

.features__btn-item {
  display: block;
  font-weight: 700;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  color: #5c5c5e;
  background: transparent;
  border: 0;
}

.features__btn-item_active {
  color: #070707;
}

.features__video button {
  margin-left: 20px;
}

.features__video span {
  font-size: 13px;
  line-height: 115.4%; /* 15px/13 */
  color: #f6f4f5;
}

.features__video {
  grid-column: 2/3;
  width: 280px;
  height: 150px;
  background-image: url(../images/features-content-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 5px 10px;
}

.features__content-item {
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease;
}

.features__content-box h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%; /* 28px/24 */
}

.features__content-item_img {
  align-self: stretch;
  grid-row: 1/-1;
}

.features__content-item_active {
  opacity: 1;
}

/*  Games   */

.games__title:not(:last-child) {
  margin-bottom: 50px;
}

.games__desc-title:not(:last-child) {
  margin-bottom: 10px;
}

.games__desc-text:not(:last-child) {
  margin-bottom: 30px;
}

.games__link {
  text-transform: uppercase;
  display: inline-block;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 16px 48px;
  border: 1px solid #bc10d8;
}

.games {
  margin-bottom: 100px;
}

.games__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.games__desc {
  padding-right: 5px;
}

.games__link {
}
.games__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.games__img {
}

.games__item {
  border: 1px solid #bc10d8;
  padding: 20px 10px 18px;
  display: flex;
  flex-direction: column;
}

.games__item-text:not(:last-child) {
  margin-bottom: 40px;
}

.games__item-link {
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: auto;
}

/* Buy  */

.buy {
  position: relative;
  text-align: center;
  margin-bottom: 110px;
  overflow-x: hidden;
}

.buy__img {
  margin-bottom: 30px;
}

.buy__btn {
  margin: 0 auto;
}

.buy__bg {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 400px;
  line-height: 400px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
  animation: running-line 5s linear 1s infinite;
}

@keyframes running-line {
  from {
    transform: translateX(100%);
    transform-origin: left center;
  }
  to {
    transform: translateX(-100%);
    transform-origin: right center;
  }
}
